<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">-->
<!--    <title>FlaskBlog</title>-->
<!--</head>-->
<!--<body>-->
<!--   <h1>Welcome to FlaskBlog</h1>-->
<!--</body>-->
<!--</html>-->

{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to FlaskBlog {% endblock %}</h1>
    {% for post in posts %}
        <a href="{{ url_for('post', post_id=post['id']) }}">
            <h2>{{ post['title'] }}</h2>
        </a>
        <span class="badge badge-primary">{{ post['created'] }}</span>
        <a href="{{ url_for('edit', id=post['id']) }}">
            <span class="badge badge-warning">Edit</span>
        </a>
        <hr>
    {% endfor %}
<div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://img.freepik.com/free-photo/cute-ai-generated-cartoon-bunny_23-2150288884.jpg" alt="Card image cap">
            <div class="card-body" style="background-color: #F5F5DC;">
                    <h5 class="card-title">Core ERP</h5>
                    <p class="card-text text-muted">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="{{ url_for('edit', id=2) }}" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
{% endblock %}
